.coin-info-header,
.coin-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-weight: bold;
}

.coin-card {
  border: 1px solid #e0f7fa;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

.coin-info-grid img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.coin-info-grid p,
.coin-info-grid select,
.coin-info-grid button {
  margin: 0;
  font-size: 14px;
}

.coin-info-grid select {
  padding: 5px;
  font-size: 14px;
}